<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Link Shortener</title>
        <meta name="description" content="Link Shortener - Twitter search">
        <link href="static/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <form class="well" method='post' action='tweets'>
            <label>Search Twitter and receive links to the top 5 tweet matches!</label>
            <input type="text" class="span3" placeholder="Type something…" name='twitter_search'>
            <span class="help-inline">Enter your Twitter search term here</span>
            <br />
            <input type="text" class="span3" placeholder="Email" name="email">
            <span class="help-inline">Enter your email here to receive daily digest emails of link activity</span>
            <br />
            <button type="submit" class="btn">Find Tweets!</button>
        </form>
    </body>
</html>
